#root {
  margin: 0 auto;

  text-align: center;
}

h1 {
  width: 100%;
  margin: 0;
}
.header {
  height: 170px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 138, 178, 0.2) 0px 4px 8px 0px;
}
.reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.raison {
  padding: 2rem;
  margin: 4rem 4rem;
  width: 60%;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-shadow: rgba(17, 138, 178, 0.2) 0px 4px 8px 0px;
}

.pouce {
  margin: 0rem 2rem;
}

.argument {
  font-style: italic;
}

.pouceBleu {
  margin: 0rem 2rem;
  background-color: #118ab2;

  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.footer {
  background-color: #d9d9d9;
  padding: 2rem 0rem;
  color: #118ab2;
}

.cvphoto {
  position: absolute;
  top: 5px;
  left: 5%;
  height: 170px;
  width: 150px;
}
.cyriac {
  clip-path: inset(0 0 30% 0);
  width: 100%;
  height: auto;
}
